#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Additional styles for the posts list */
ul {
  list-style-type: none; /* Remove default bullets */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

li {
  margin: 10px auto;
  width: 20em;
  background-color: #1a1a1a; /* Light background for list items */
  border-radius: 5px; /* Rounded corners */
  padding: 15px; /* Padding inside each item */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
  cursor: pointer; /* Change cursor to pointer */
}

li:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #646cff/* Subtle shadow on hover */
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

input {
  width: 20em;
  margin: 1em;
  border-radius: 0.5em;
  padding: 1em;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
